<!DOCTYPE html>
<html style="font-size: 100%;overflow-x:hidden">
<head>
	<title>Shop Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/about-us/style_navbar.css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="/js/nav-bar.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    
    
</head>
<body style="min-width: 1100px;">

    <%- include ("../navbar/navbar.ejs");%>
    
    
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Checkout</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" class="checkoutForm">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com" required="">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="email" class="form-control" id="address" placeholder="1234 Main St" required="">
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">Country</label>
                                <select class="custom-select d-block w-100" id="country" required="">
                                    <option value="">Choose country</option>
                                    <% for( let i = 0; i < countries.length; i++ ) { %>
                                        <option value="<%= countries[i].code %>"><%= countries[i].name %></option>
                                    <% } %>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="zip">Zip</label>
                                <input class="form-control" id="zip" placeholder="" required type="tel" pattern="[0-9]{5}" maxlength="5">
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input class="form-control" type="text" id="cc-name" placeholder="" required="" maxlength="13">
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input id="cc-number" class="form-control" type="tel" inputmode="numeric" pattern="[0-9]{13,16}" autocomplete="cc-number" maxlength="16" required>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                                <div class="invalid-feedback">
                                    Expiration date required
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required maxlength="3" pattern="[0-9]{3}">
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="submit-btn" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="top-nav-bar" style="margin-top: 140px;">
        
        <div class="dropdown" >
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort By
            </button>
            <ul class="dropdown-menu">
              <li class="sortItem"><a class="dropdown-item" href="#">Price Low to High</a></li>
              <li class="sortItem"><a class="dropdown-item" href="#">Price High to Low</a></li>
              <li class="sortItem"><a class="dropdown-item active" href="#">Rate</a></li>
            </ul>
        </div>
        <div class="cart-container">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-dash" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
            </svg>
            <div class="cart-content">
                <ul class="list-group bag-list" style="font-size: 0.8rem;width: 150px;">
                    
                    <li class="list-group-item" style="color:#777;font-size: 1.1rem;"><p style="display:inline;border-bottom:1px dotted black;">Total Cost:</p></li>
                    <li class="list-group-item total-bag-value" style="font-size: 1.05rem;">0$</li>
                    <li class="list-group-item">
                        <button type="button" class="btn btn-primary checkout-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>Procceed to checkout</button>
                    </li>
                </ul>
                
            </div>
        </div>
        
        <% if (isAdmin) { %>
            <button id="manager-menu-button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                Open Manager Menu
            </button>
        <% } %>
        
        <div class="type-filter-containter">
            <div id="short pants" class="type-selector">
                <img src="/images/opt1.jpeg" style="width: 100%;min-width: 80px;">
                <div class="image-layer"></div>
            </div>
            <div id="short shirts" class="type-selector">
                <img src="/images/opt2.jpeg" style="width: 100%;min-width: 80px;">
                <div class="image-layer"></div>
            </div>
            <div id="skirts" class="type-selector">
                <img src="/images/opt3.jpeg" style="width: 100%;min-width: 80px;">
                <div class="image-layer"></div>
            </div>
            <div id="swimmig suits" class="type-selector">
                <img src="/images/opt4.jpeg" style="width: 100%;min-width: 80px;">
                <div class="image-layer"></div>
            </div>
            <div id="long shirts" class="type-selector">
                <img src="/images/opt5.jpeg" style="width: 100%;min-width: 80px;">
                <div class="image-layer"></div>
            </div>
            <div id="long pants" class="type-selector">
                <img src="/images/opt6.jpeg" style="width: 100%;min-width: 80px;">
                <div class="image-layer"></div>
            </div>
            <div id="jackets" class="type-selector">
                <img src="/images/opt7.jpeg" style="width: 100%;min-width: 80px;">
                <div class="image-layer"></div>
            </div>
            <div id="hoodies" class="type-selector">
                <img src="/images/opt8.jpeg" style="width: 100%;min-width: 80px;">
                <div class="image-layer"></div>
            </div>
        </div>
        
    </div>

    <div class="filter-and-grid">
        <div class="filter" style="user-select: none;">
            <h2>Filter by:</h2>
            <ul class="list-group">
                <label style="text-decoration: underline;" class="form-check-label">Colors:</label>
                <% for( let i = 0; i < colors.length; i++ ) { %>
                    <div class="form-check">
                        <li>
                            <input class="form-check-input" type="checkbox" name="color" id="<%= colors[i] %>">
                            <label for="<%= colors[i] %>" class="form-check-label"><%= colors[i] %></label>
                        </li>
                    </div>
                <% } %>
                <label style="text-decoration: underline;" class="form-check-label">Size:</label>
                <% for( let i = 0; i < sizes.length; i++ ) { %>
                    <div class="form-check">
                        <li>
                            <input id = "<%= sizes[i] %>" class="form-check-input" type="checkbox" name="size" >
                            <label for="<%= sizes[i] %>" class="form-check-label"><%= sizes[i] %></label>
                        </li>
                    </div>
                <% } %>
                <li>
                    <div class="price-container">
                        <label for="price">Price: (Range)</label>
                        <input type="range" id="price" name="price" min="1" max="100" step="1" value="100" oninput="this.nextElementSibling.value = this.value">
                        <output >100</output><span>$</span>
                        
                        <span style="float:left;">$1</span>
                    </div>
                    
                </li>
            </ul>
            <button class="btn btn-secondary btn-sm filter-btn">Apply Filters</button>
        </div>
        <div class="products-grid">
            <div class="product" style="display: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash delete-icn" viewBox="0 0 16 16" style="position:absolute;background-color:white;right:0;display:none;">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                
                <div class="product-description" >
                    <h3>Product null</h3>
                    <p style="margin-bottom: 0;">Description of product null</p>
                    <p class="price-p">NULL</p>
                    
                </div>
                <img src="/images/tree-736885_960_720.jpg" alt="Product 1">
                <button class="add-to-cart-btn">Add to cart</button>
            </div>
            <% for( let i = 0; i < elements.length; i++ ) { %>
                <div class="product">
                    
                    <div class="product-description" >
                        <h3 style="font-size: 2rem;"><%=elements[i].title %></h3>
                        <p style="margin-bottom: 0;"><%=elements[i].description %></p>
                        <p class="price-p">$<%=elements[i].price %></p>
                        
                    </div>
                    <img src="/images/tree-736885_960_720.jpg" alt="Product 1">
                    <button class="add-to-cart-btn">Add to cart</button>
                </div>

            <% } %>
        </div>  
    </div>

    
  
    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Admin Menu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form autocomplete="off" id="manager-menu-form">
                    <div class="modal-body">
                        <aside>
                            <div class="mb-3">
                                <label for="new-name-field-manager">New Title:</label>
                                <input type="text" class="form-control edit-mode-aside" id="new-name-field-manager" name="new-name-field-manager" placeholder="">
                            </div>
                        </aside>
                        <div class="col-md-6 mb-3 " style="display: none;">
                            <label for="name-field-manager">Title:</label>
                            <input type="text" class="form-control" id="name-field-manager" name="name-field-manager" placeholder="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <select class="form-select" id="product-title-select">
                                <% for( let i = 0; i < elements.length; i++ ) { %>
                                    <option value="<%= elements[i].title %>"><%= elements[i].title %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="product-category-select">Choose A category:</label>
                            <select class="custom-select d-block w-100" id="product-category-select">
                                <% for( let i = 0; i < categories.length; i++ ) { %>
                                    <option><%= categories[i] %></option>
                                <% } %>
                            </select>
                        </div>
                        <aside>
                            <div class="col-md-8 mb-3">
                                <label for="product-color-select">Choose A color:</label>
                                <select class="custom-select d-block w-100" id="product-color-select">
                                    <% for( let i = 0; i < colors.length; i++ ) { %>
                                        <option><%= colors[i] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </aside>
                        <div class="col-md-6 mb-3">
                            <label for="product-size-select">Choose sizes:</label>
                            <% for( let i = 0; i < sizes.length; i++ ) { %>
                                <div class="form-check">
                                    <li style="list-style: none;">
                                        <input class="form-check-input" type="checkbox" name="sizes-manager" id="<%= sizes[i] %>-manager">
                                        <label for="<%= sizes[i] %>-manager" class="form-check-label"><%= sizes[i] %></label>
                                    </li>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="description-field-manager">Description:</label>
                            <input type="text" class="form-control" id="description-field-manager" name="description-field-manager" placeholder="">
                        </div>
                        <div class="input-group mb-3">
                            <span for="price-field-manager" class="input-group-text">Price</span>
                            <input type="number" min="0" step="0.01" max="99" class="form-control" id="price-field-manager" name="price-field-manager" >
                            <span class="input-group-text">$</span>
                        </div>
                        <aside>
                            <div class="form-check">
                                <input class="form-check-input edit-add-delete" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked required >
                                <label class="form-check-label" for="flexRadioDefault1">
                                Edit
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input edit-add-delete" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label " for="flexRadioDefault2">
                                Add
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input edit-add-delete" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label " for="flexRadioDefault3">
                                Delete
                                </label>
                            </div>
                        </aside>
                        <button style="margin-left: 20%;" type="submit" class="btn btn-secondary" id="manager-menu-form-submit-btn">Save & Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/JavaScript/app.js"></script>
</body>
</html>    
